name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build & Test
        run: make test
      - name: Fuzz
        run: make fuzz
      - name: Valgrind
        run: |
          sudo apt update
          sudo apt install -y valgrind
          valgrind --leak-check=full --error-exitcode=1 ./embedded_cli_test
      - name: Test no history
        run: |
          make clean
          make CFLAGS="-DEMBEDDED_CLI_HISTORY_LEN=0 -I." test
      - name: Check code format
        run: make format-check